

.app {
  /* width: 100vw; */
  /* height: 25vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-header {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.subtitle {
  margin-top: 0.5rem;
}

.main-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  /* border: 2px solid black; */
  /* border-radius: var(--border-rad); */
}

.main-item {
  margin: 0.5rem 0;
}

.nav-button {
  background-color: #333;
  color: white;
  border: 1px solid black;
  border-radius: var(--border-rad);
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 12ch;
}

.nav-button:hover {
  box-shadow: 0 0 2px white;
}

img {
  border: 2px solid black;
  border-radius: var(--border-rad);
  background-color: black;
  box-shadow: 0 0 0.5rem 3px black;
  background-image: url(/public/assets/images/space-bg.jpg);
}
