.drum-pad {
  width: 13.5vw;
  height: 13.5vw;
  border-radius: 10px;
  background-color: #333;
  cursor: pointer;
  border: 5px solid #333;
}

.drum-pad:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.687);
}

.drum-pad:active {
  background-color: lighten(rgb(255, 255, 255), 10%);
  transform: scale(0.95);
  transition: all 0.2s;
}

.pad-image {
  position: relative;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.pad-container {
  background-image: url(/public/assets/images/space-bg.jpg);
}
