.drum-pad {
  display: flex;
  position: relative;
  width: 13em;
  height: 13em;
  border-radius: var(--border-rad);
  background-color: #333;
  cursor: pointer;
  border: 5px solid #333;
  align-items: center;
  justify-content: center;
}

.drum-pad:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.687);
}

.drum-pad:active {
  background-color: lighten(rgb(255, 255, 255), 10%);
  transform: scale(0.95);
  transition: all 0.2s;
}

.pad-image {
  position: relative;
  object-fit: cover;
  border-radius: var(--border-rad);
  overflow: hidden;
  transition: 0.3s;
}

.keystroke {
  position: absolute;
  color: white;
  bottom: 0.8vh;
  left: 1.5vw;
  text-shadow: 0 0 4px black;
}
