.drum-pad {
  display: flex;
  position: relative;
  min-width: 150px;
  min-height: 150px;
  width: 15vw;
  height: 15vw;
  max-width: 175px;
  max-height: 175px;
  border-radius: var(--border-rad);
  background-color: grey;
  cursor: pointer;
  /* border: 0px solid var(--contrast-bg); */
  align-items: center;
  justify-content: center;
}

.drum-pad:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.687);
}

.drum-pad:active {
  background-color: lighten(rgb(255, 255, 255), 10%);
  transform: scale(0.95);
  transition: all 0.2s;
}

.pad-image {
  position: relative;
  object-fit: cover;
  border-radius: var(--border-rad);
  overflow: hidden;
  transition: 0.3s;
}

.keystroke {
  width: 1.5rem;
  position: absolute;
  color: #ffffff;
  bottom: 0.8vh;
  left: 0.5vw;
  text-shadow: 0 0 4px black;
  background-color: rgb(255 255 255 / 21%);
  border-radius: 3px;
}

@media screen and (max-width: 740px) {
  .drum-pad {
    display: flex;
    position: relative;
    min-width: 150px;
    min-height: 150px;
    width: 15vw;
    height: 15vw;
    max-width: 175px;
    max-height: 175px;
    border-radius: var(--border-rad);
    background-color: var(--contrast-bg);
    cursor: pointer;
    border: 5px solid var(--contrast-bg);
    align-items: center;
    justify-content: center;
  }
}
