.row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.active {
  background-color: var(--nasa-orange);
}

.piano-button {
  width: 50%;
  height: 50px;
  width: 50px;
}
