.row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.active {
  background-color: var(--nasa-orange);
}

.row > * {
  width: 100%;
  text-align: center;
  padding: .25rem;
}

.piano-button {
  width: 100%;
  height: 100%;
}
