.row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3a718cc (Create rows of buttons or numbers with functionality)

.active {
  background-color: red;
}

.piano-button {
  width: 50%;
  height: auto;
}
<<<<<<< HEAD
=======
>>>>>>> 87aa74b (Create Basic Styling for row)
=======
>>>>>>> 3a718cc (Create rows of buttons or numbers with functionality)
