/* .main-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

.main-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 5px solid grey; */
  /* border-radius: var(--border-rad); */
  /* width: 100%; */
}

.play-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 29em;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
  padding: 1rem;
  border-top-left-radius: var(--border-rad);
  border-bottom-left-radius: var(--border-rad);
  background-image: url(/public/assets/images/space-bg.jpg);
}

.kit-select {
  border: 1px solid black;
  border-radius: var(--border-rad);
  background-color: #333;
  margin-bottom: 1rem;
  color: white;
}

.kit-label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
