.main-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
  padding: 1rem;
  border-top-left-radius: var(--border-rad);
  border-bottom-left-radius: var(--border-rad);
}
